lease.json
*.pyc
compile
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
*.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
stamp-h1
missing
client/*.o
client/client
client/.deps
client/Makefile

